@import helper._
@(countries: CountrySeries, column: String, order: String, site_page: Int, pages: Int)(implicit request: RequestHeader)

@common.layout("Countries"){
  @common.message(request.flash, "Showing Countries")
  <div class="container">
    <div class="row">
      <div class="col-4 bold">
        <h5 class="text-center">
          @if(column == "Country" && order == "ASC"){
            <a href="/country/view/Country/DESC/0">
              Country
            </a>
          }else{
            <a href="/country/view/Country/ASC/0">
              Country
            </a>
          }
          </a>
        </h5>
      </div>
      <div class="col-2 bold">
        <h5 class="text-center">
          @if(column == "States" && order == "ASC"){
            <a href="/country/view/States/DESC/0">
              States
            </a>
          }else{
            <a href="/country/view/States/ASC/0">
              States
            </a>
          }
        </h5>
      </div>
      <div class="col-2 bold">
        <h5 class="text-center">
          @if(column == "Confirmed" && order == "ASC"){
            <a href="/country/view/Confirmed/DESC/0">
              Confirmed
            </a>
          }else{
            <a href="/country/view/Confirmed/ASC/0">
              Confirmed
            </a>
          }
        </h5>
      </div>
      <div class="col-2 bold">
        <h5 class="text-center">
          @if(column == "Deaths" && order == "ASC"){
            <a href="/country/view/Deaths/DESC/0">
              Deaths
            </a>
          }else{
            <a href="/country/view/Deaths/ASC/0">
              Deaths
            </a>
          }
        </h5>
      </div>
      <div class="col-2 bold">
        <h5 class="text-center">
          @if(column == "Recovered" && order == "ASC"){
            <a href="/country/view/Recovered/DESC/0">
              Recovered
            </a>
          }else{
            <a href="/country/view/Recovered/ASC/0">
              Recovered
            </a>
          }
        </h5>
      </div>
    </div>
    @for(country <- countries.datapoints){
      <div class="row">
        <div class="col-4">
          <a class="disabled" href="/countries/read/@country.country">
            @country.country
          </a>
        </div>
        <div class="col-2">
          <a href="/country/states/@country.country/State/ASC">
            @country.states
          </a>
        </div>
        <div class="col-2">
          <a href="/test/country/@country.country/confirmed">
            @country.confirmed
          </a>
          @if(country.confirmed != 0){
            <a href="/graph/country/@country.country/Confirmed">
              @icons.graph()
            </a>
            @if(country.states != 0){
              <a href="/graph/states/@country.country/Confirmed">
                @icons.bar()
              </a>
            }
          }
        </div>
        <div class="col-2">
          <a href="/test/country/@country.country/deaths">
            @country.deaths
          </a>
          @if(country.deaths != 0){
            <a href="/graph/country/@country.country/Deaths">
              @icons.graph()
            </a>
            @if(country.states != 0){
              <a href="/graph/states/@country.country/Deaths">
                @icons.bar()
              </a>
            }
          }
        </div>
        <div class="col-2">
          <a href="/test/country/@country.country/recovered">
            @country.recovered
          </a>
          @if(country.recovered != 0){
            <a href="/graph/country/@country.country/Recovered">
              @icons.graph()
            </a>
            @if(country.states != 0){
              <a href="/graph/states/@country.country/Recovered">
                @icons.bar()
              </a>
            }
          }
        </div>
      </div>
    }
    @common.pagination("country/view", column, order, site_page, pages)
  </div>
}