@import helper._
@(series: models.DaySeries, stat: String, column: String, order: String, site_page: Int, pages: Int)(implicit request: RequestHeader)

@common.layout(stat.capitalize + " - Overall"){
  @common.message(request.flash, "Showing Overall")
    <div class="container">
      <div class="row">
        <div class="col-3 bold">
          <h5 class="text-center">
            Country
          </h5>
        </div>
        <div class="col-3 bold">
          <h5 class="text-center">
            State
          </h5>
        </div>
        <div class="col-3 bold">
          <h5 class="text-center">
            @if(column == "Date" && order == "ASC"){
              <a href="/test/overall/@stat/Date/DESC/0">
                Date
              </a>
            }else{
              <a href="/test/overall/@stat/Date/ASC/0">
                Date
              </a>
            }
          </h5>
        </div>
      <div class="col-3 bold">
        <h5 class="text-center">
          @if(column == stat && order == "ASC"){
            <a href="/test/overall/@stat/@stat/DESC/0">
              @stat.capitalize
            </a>
          }else{
            <a href="/test/overall/@stat/@stat/ASC/0">
              @stat.capitalize
            </a>
          }
        </h5>
      </div>
    </div>
    @for(point <- series.datapoints){
      <div class="row">
        <div class="col-3 text-center">
          @point.country
        </div>
        <div class="col-3 text-center">
          @point.state
        </div>
        <div class="col-3 text-center">
          @point.date.toString
        </div>
        <div class="col-3 text-center">
          @if(stat == "deaths"){
            @point.deaths
          }else if(stat == "confirmed"){
            @point.confirmed
          }else if(stat == "recovered"){
            @point.recovered
          }
        </div>
      </div>
    }
    @common.pagination("test/overall", stat, site_page, pages)
  </div>
}