@(series: models.DaySeries, state: String, stat: String)(implicit request: RequestHeader)

<html>
    <head>
        <title>
            @stat - @state
        </title>
    </head>

    <body>
        @for(point <- series.datapoints){
            <p>
                <strong>@point.date:</strong>
                @if(stat == "deaths"){
                    @point.deaths
                }else if(stat == "confirmed"){
                    @point.confirmed
                }else if(stat == "recovered"){
                    @point.recovered
                }
            </p>
        }
    </body>
</html>