@(route: String, stat: String, column: String, order: String, site_page: Int, pages: Int)(implicit request: RequestHeader)

<nav>
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item">
      @if(0 == site_page){
          <a class="page-link disabled" href="/@route/@stat/@column/@order/@(site_page - 1)" aria-label="Previous">
            @icons.left_arrow()
          </a>
      }else{
        <a class="page-link" href="/@route/@stat/@column/@order/@(site_page - 1)" aria-label="Previous">
          @icons.left_arrow()
        </a>
      }
    </li>     
    @for(page_number <- 0 to pages){
      <li class="page-item">
        @if(page_number == site_page){
          <a class="page-link active" href="/@route/@stat/@column/@order/@page_number">
            @page_number
          </a>
        }else{
          <a class="page-link" href="/@route/@stat/@column/@order/@page_number">
            @page_number
          </a>
        }
      </li> 
    }
    <li class="page-item">
      @if(pages == site_page){
        <a class="page-link disabled" href="/@route/@stat/@column/@order/@(site_page + 1)" aria-label="Previous">
          @icons.right_arrow()
        </a>
      }else{
        <a class="page-link" href="/@route/@stat/@column/@order/@(site_page + 1)">
          @icons.right_arrow()
        </a>
      }
    </li>
  </ul>
</nav>